@font-face {
    font-family: 'rubikmedium_italic';
    src: font_url('rubik-mediumitalic-webfont.woff2') format('woff2'),
         font_url('rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}